{% extends "dashboard/base.html" %}
{% load staticfiles %}
{% block content %}
<!-- Load in our extra template filters -->
{% load dashboard_extras %}
<div class="table">
	<div class="thead">
		<div class="tr">
            <div class="td">SalesLeadId</div>
            <!-- <div class="td">Cash Flow Responsibility</div>  -->
            <div class="td">Client Name</div>
            <div class="td">Project Name</div>
            <div class="td">Type</div>
            <!-- <div class="td">Subjective Probability</div>  -->
            <div class="td">Model Probability</div>
            {% for month in rolling_fourteen_months %}
                <div class="td">{{ month|month_year }}</div>
            {% endfor %}
            <div class="td">Total</div> 
            <div class="td">Notes</div>
            <div class="td"></div>
		</div>
    </div>
    <div class="tbody">
        {% for project in anticipated_projects %}
            <form class="tr" method="post" action="{% url 'dashboard-home' %}">
                <div class="td"><a href="https://secure.epicsysinc.com:8888/SalesLead/Edit.aspx?id={{ project.salesleadid }}">{{ project.salesleadid }}</a></div>
                <!-- <div class="td editable">project.cash_flow_responsible</div> -->
                <div class="td">{{ project.salesleadid__companyid__name }}</div>
                <div class="td">{{ project.salesleadid__project }}</div>
                <div class="td">{{ project.jobtypeid }}</div>
                <div class="td">{{ project.salesleadid__calcprobability|floatformat }}</div>
                <!-- <div class="td">{{ project.subjectiveprobability }}</div> -->
                {% for month in rolling_fourteen_months %}
                    <div class="td">{{ project|get_item:month|if_none }}</div>
                {% endfor %}
                <div class="td">{{ project.total }}</div>
                <div class="td editable">{{ project.notes }}</div>
                <div class="td action"><button type="button" onclick="edit(this);">edit</button></div>
            </form>
        {% endfor %}
    </div>
</div>
{% endblock content %}
{% block extrajs %}
    <script  src="{% static 'dashboard/dashboard.js' %}"></script>
{% endblock %}