{% extends "dashboard/base.html" %}
{% load static %}
{% block content %}
<!-- Load in our extra template filters -->
{% load dashboard_extras %}
<div class="tableFixHead" style="overflow: auto;">
    <table id="anticipated-projects-table" class="table table-bordered table-striped table-hover table-responsive{-sm} fixed-table-body" cellspacing='0'>
        <thead>
            <tr>
                <th id="actions">Edit</th>
                <th id="sales_lead_id">SalesLeadId</th>
                <th width="3%" id="cash_flow_responsible">Cash Flow Responsibility</th>
                <th id="client_name">Client Name</th>
                <th width="9%;" id="project_name">Project Name</th>
                <th width="8%" id="type">Type</th>
                <th width="3%" id="subjective_probability">Subjective Probability</th>
                <th id="model_probability">Model Probability</th>
                {% for month in rolling_fourteen_months %}
                    <th class="month_year">{{ month|month_year }}</th>
                {% endfor %}
                <th id="priority">Priority</th>
                <th width="4%" id="status">Status</th>
            <tr>
        </thead>
        <tbody>
            {% include 'dashboard/partial_project_list.html' %}
        </tbody>
        <!-- <tfoot>
                <tr>
                    {% for project in anticipated_projects %}
                        <th>project.salesleadid__name</th>
                    {% endfor %}
                </tr>
            </tfoot> -->
    </table>
</div>
<div class="modal" id="modal">
        <div class="modal-dialog">
            <div class="modal-content"></div>
        </div>
</div>
{% endblock content %}