body
{
    width: 100%;
    height: 100%;
    margin: 0px;
	padding: 30px;
}
.table-striped tbody tr:nth-of-type(4n+1) td
{
   background-color:#EBEDEF; 
}
th { background:#FFFFFF; }
th, td:not(.hiddenRow) { font-size: 12px; text-align: center; }
.hiddenRow {padding: 0 !important;}
.navbar .navbar-brand {
    padding-top: 1px;
}
.table>tbody>tr>td {vertical-align: middle !important;}
.navbar-header > ul> li { padding: 5px; }
.tableFixHead { overflow-y: auto; height: 600px; }
.tableFixHead thead th { position: sticky; top: 0; }
